ide/xcode/build
ide/xcode/wavelet.xcodeproj/project.xcworkspace
ide/xcode/wavelet.xcodeproj/xcuserdata
doc/html
doc/xml
bin
Makefile
python/Makefile
CMakeFiles
python/bin
python/wavelet.py
python/wavelet_doc.i
python/waveletPYTHON_wrap.cxx
python/bin
python/_build_tmp
*CMakeCache.txt
*cmake_install.cmake
*pyc
*.a
*.so
*.dylib
*.ipynb_checkpoints
cmake_clean.sh
