ide/xcode/build
ide/xcode/woma.xcodeproj/project.xcworkspace
ide/xcode/woma.xcodeproj/xcuserdata
doc/html
doc/xml
bin
Makefile
python/Makefile
CMakeFiles
python/bin
python/woma.py
python/woma_doc.i
python/womaPYTHON_wrap.cxx
python/bin
python/_build_tmp
*CMakeCache.txt
*cmake_install.cmake
*pyc
*.a
*.so
*.dylib
*.ipynb_checkpoints
cmake_clean.sh
