.tabs, .tabs2, .tabs3 {
    background-color: #F35757;
    background-image: none;
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    width: 80%;
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    text-align: center;
    display: table-cell;
    background-color: #F35757;
    line-height: 36px;
    list-style: none;
    width: 16%;
}

.tablist a {
    display: block;
    padding: 0 30px;
    font-size: 14px;
    background-color: #F35757;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #FFF;
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-color: #B30303;
    color: #fff;
    text-decoration: none;
}

.tablist li.current a {
    background-color: #B30303;
    color: #fff;
}
